.video {

    padding-top: 30px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.titleDesc {
    line-height: 1px;
    margin-bottom: 50px;
}

#videos {
    margin: 0 auto;
    width: 675px;
}